
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, div#root {
  height: 100vh;
  margin: 0;
  border: 0;
}

body, input, select, textarea, button {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  padding: 0 0.5rem;
}

header a {
  color: #fff;
}

main {
  grid-area: main;
  
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #203040;
}

button {
  outline: 0;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  background: #203040;
  color: #fff;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-column {
  flex-direction: column;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-left {
  justify-content: flex-start;
}
.flex.justify-right {
  justify-content: flex-end;
}
.flex.align-top {
  align-items: flex-start;
}
.flex.align-bottom {
  align-items: flex-end;
}

.ml-5 {
  margin-left: 5px;
}

.pv-20 {
  padding: 20px 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}


/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  position: relative;
  /* flex: 1 1 29rem;
  height: 47rem; */
  padding: 1rem;
  margin: 1rem;
}

.products li button {
  position: absolute;
  top: 340px;
  right: 50px;
  opacity: 0;
  transition: opacity 0.6s;
}
.products li:hover button {
  opacity: 1;
  transition: opacity 0.2s;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  border-radius: 5px;
  max-width: 37rem;
  max-height: 37rem;;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
}

/* filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: .1rem solid #c0c0c0; 
}


/* index.css */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: .1rem solid #c0c0c0;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: .5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.cart-items li div button {
  margin-left: 5px;
}

.right {
  text-align: right;
}

/* checkout form */
form {
  width: 100%;
  border-top: .1rem solid #c0c0c0;
}
form input {
  border: 0;
  outline: 0;
  padding: 8px;
  border-radius: 5px;
  background: #c0c0c0;
  margin-top: 3px;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 2;
}